@CHARSET "EUC-KR";
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
	header {
		background-image: url('/resources/library1.jpg');
		background-size: cover;
		text-align: center;
		color: black;
		height:800px;
}

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      position:absolute;
      clear:left;
      width:1680px;
      float:left;
      left:0;
      bottom:0px;
    }
    #mainbody {
    
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
